<%- include('include/_header') %>


    <%- include('include/_nav') %>


        <%- include('include/_topheader') %>


            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Unlisted Categories</h2>
                    </div>
                    <div>
                        <div class="d-grid">
                            <a href="/adminCategory"> <button class="btn btn-primary">Go Back</button> </a>
                        </div>
                    </div>
                    <div>
                        <input type="text" placeholder="Search Categories" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let i=0; i < category.length; i++ ) { %>
                                                <% if (category[i].isHidden==true) { %>
                                                    <tr>
                                                        <td>
                                                            <%= i+1 %>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                <%= category[i].name %>
                                                            </p>
                                                        </td>
                                                        <td>


                                                            <button class="btn btn-success"
                                                                onclick="handlelist('<%= category[i]._id %>')">List</button>

                                                            <% } %>
                                                        </td>
                                                    </tr>

                                                    <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
                <% if (category.length > 10) { %>

                    <div class="pagination-area mt-30 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <% } else if (category.length == 0) { %>
                     

                        <div>
                            <h3 class="text-center text-danger">No Data Available..!!</h3>
                        </div>


                        <% } %>
            </section>

            

            <script>

                function handlelist(id) {
                    axios.post('/api/restorecategory', { id })
                        .then((data) => {
                            Swal.fire({
                                title: "Good job!",
                                text: "Successfully Listed",
                                icon: "success"
                            });
                            setTimeout(() => {
                                window.location.reload()
                            }, 3000);
                        }).catch((err) => {
                            console.log(err);
                        })
                }

            </script>

            <%- include('include/_footer') %>