<%- include('include/_header') %>


        <%- include('include/_nav') %>

        
        <%- include('include/_topheader') %>


            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories</h2>
                        <p>Add, edit or delete a category</p>
                    </div>
                    <div>
                        <div class="d-grid">
                          <a href="/adminUnlistedCategory"> <button  class="btn btn-primary">Unlisted Categories</button> </a>  
                        </div>
                    </div>
                    <div>
                        <input type="text" placeholder="Search Categories" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <form action="/api/addcategory"  method="post">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Category Name</label>
                                        <input type="text" placeholder="Type here" name="categoryName" class="form-control" id="product_name" />
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary">Add Category</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let i = 0; i < category.length; i++ ) { %>
                                                <% if (category[i].isHidden==false) { %>
                                                <tr>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td>
                                                        <p><%= category[i].categoryname  %></p>
                                                    </td>
                                                    <td>
                                                        
                                                        <button type="button" class="btn btn-danger" onclick="handlelist('<%= category[i]._id %>')">Unlist</button>
                    
                                                            <% } %>
                                                    </td>
                                                </tr>
                                            
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
                <% if (category.length!=0) { %>
 
                    <div class="pagination-area mt-30 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                                </li>
                            </ul>  
                        </nav>
                    </div>
                    <% } else { %>
                     
                        <div>
                            <h3 class="text-center text-danger">No Data Available..!!</h3>
                        </div>
                
                
                <% } %>
            </section>

            <script>

                function handlelist(id) {
                    axios.post('/api/deletecategory', { id })
                        .then((data) => {
                            Swal.fire({
                                title: "Good job!",
                                text: "Successfully Unlisted",
                                icon: "success"
                            });
                            setTimeout(() => {
                                window.location.reload()
                            }, 1000);
                        }).catch((err) => {
                            console.log(err);
                        })
                }

            </script>


            <%- include('include/_footer') %>