<%- include('include/_header') %>


        <%- include('include/_nav') %>

        
        <%- include('include/_topheader') %>


            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Unlisted Categories</h2>
                    </div>
                    <div>
                        <div class="d-grid">
                          <a href="/adminCategory"> <button  class="btn btn-primary">Go Back</button> </a>  
                        </div>
                    </div>
                    <div>
                        <input type="text" placeholder="Search Categories" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let i = 0; i < category.length; i++ ) { %>
                                                <% if (category[i].isHidden==true) { %>
                                                <tr>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td>
                                                        <p><%= category[i].categoryname  %></p>
                                                    </td>
                                                    <td>
                                                        
                    
                                                           <a href="/api/deletecategory?categoryid=<%= category[i]._id %>"><button type="button" class="btn btn-danger">List</button></a> 
                    
                                                            <% } %>
                                                    </td>
                                                </tr>
                                            
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
            </section>


            <%- include('include/_footer') %>