<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product Offer</title>
    <style>
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .d-none {
        display: none;
      }

      input[type="number"] {
        appearance: textfield;
      }

      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f7f7f7;
      }

      h1 {
        text-align: center;
      }

      form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="number"],
      input[type="date"],
      button[type="submit"],
      select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
      }

      button[type="submit"] {
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
      }

      button[type="submit"]:hover {
        background-color: #45a049;
      }

      button {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: gray;
        color: white;
        border: none;
        cursor: pointer;
      }

      button:hover {
        background-color: rgb(53, 48, 48);
      }
    </style>
  </head>

  <body>
    <form id="form" action="/updateOffer/<%= offer._id %>">
      <% if (offer.type === 'Product Offer') { %>
      <label for="productName">Product Name</label>
      <input
        type="text"
        name="product"
        id="productName"
        onkeyup="sendData(this)"
        value="<%= offer.name %>"
      />
      <section id="searchResults"></section>
      <p id="productError" style="color: red"></p>
      <% } else if (offer.type === 'Category Offer') { %>
      <label for="categoryName">Category Name</label>
      <select
        style="height: 40px"
        class="form-control"
        name="category"
        id="categoryName"
      >
        <% for( let i = 0; i < category.length; i++ ) { %>

        <option><%= category[i].name %></option>
        <% } %>
      </select>
      <p id="categoryError" style="color: red"></p>
      <% } %>

      <label for="discount">Discount (%)</label>
      <input
        type="number"
        id="discount"
        name="discount"
        value="<%= offer.discount%>"
      />
      <p id="discountError" style="color: red"></p>

      <label for="expiryDate">Expiry Date</label>
      <input
        type="date"
        id="expiryDate"
        name="expiryDate"
        value="<%= offer.expiry.toISOString().split('T')[0] %>"
      />
      <p id="expiryDateError" style="color: red"></p>
      <button type="submit">Update</button>
      <!-- Back Button -->
      <button type="button" onclick="window.history.back()">Back</button>
    </form>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
      integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function sendData(e) {
        const searchResults = document.getElementById("searchResults");
        let match = e.value.match(/^[a-zA-Z]*/);
        let match2 = e.value.match(/\s*/);
        if (match2[0] === e.value) {
          searchResults.innerHTML = "";
          return;
        }
        if (match[0] === e.value) {
          axios
            .post(
              "/getproductname",
              { payload: e.value },
              {
                headers: { "Content-Type": "application/json" },
              }
            )
            .then((response) => {
              let payload = response.data.payload;
              // console.log(payload);
              searchResults.innerHTML = "";
              if (payload.length < 1) {
                searchResults.innerHTML = "<p>Sorry, Nothing Found</p>";
                return;
              }
              searchResults.classList.remove("d-none");
              payload.forEach((item, index) => {
                if (index > 0) searchResults.innerHTML += "<hr>";
                searchResults.innerHTML += `<p class="suggestion" onclick="addToInput('${item.name}')">${item.name}</p>`;
              });
            })
            .catch((error) => {
              console.error("Error:", error);
            });
          return;
        }
        searchResults.innerHTML = "";
      }

      function addToInput(value) {
        document.getElementById("productName").value = value;
      }

      const form = document.querySelector("#form");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        let flag = false;
        let name;
        if (document.getElementById("productName")) {
          name = document.getElementById("productName").value.trim();
        } else {
          name = document.getElementById("categoryName").value.trim();
        }
        const discount = document.getElementById("discount").value.trim();
        const expiry = document.getElementById("expiryDate").value.trim();

        // Clear previous error messages
        let err;
        if (document.getElementById("productError")) {
          err = document.getElementById("productError");
        } else {
          err = document.getElementById("categoryError");
        }
        const discountError = document.getElementById("discountError");
        const dateError = document.getElementById("expiryDateError");
        discountError.innerText = "";
        err.innerText = "";
        dateError.innerText = "";

        // Validate Product Name
        if (!name) {
          err.innerText = "Please select a product.";
          flag = true;
        }

        // Validate Discount
        if (!discount) {
          discountError.innerText = "Please enter a discount.";
          flag = true;
        } else if (parseInt(discount) < 0) {
          discountError.innerText = "Discount must be a positive number.";
          flag = true;
        } else if (parseInt(discount) > 95) {
          discountError.innerText = "Discount must be less than 95";
          flag = true;
        }

        // Validate Expiry Date
        if (!expiry) {
          dateError.innerText = "Please select an expiry date.";
          flag = true;
        } else {
          const currentDate = new Date();
          const selectedDate = new Date(expiry);
          if (selectedDate < currentDate) {
            dateError.innerText = "Expiry Date must be in the future.";
            flag = true;
          }
        }

        if (flag) {
          return;
        }
        axios
          .put(form.getAttribute("action"), {
            name,
            discount,
            expiry,
          })
          .then((data) => {
            if (data) {
              Swal.fire(
                "Offer Updated Added",
                "Click the button",
                "success"
              ).then(() => {
                window.location.href = "/offer";
              });
            }
          })
          .catch((error) => {
            console.log(error);
          });
      });

      let searchResults;
      if (document.getElementById("searchResults")) {
        searchResults.addEventListener("click", function (e) {
          searchResults.classList.add("d-none");
        });
      }
    </script>
  </body>
</html>
