<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Orders</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100 font-sans flex flex-col min-h-screen">
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img
            src="/images/electronic-store-logo.svg"
            class="h-8"
            alt="OtronMart Logo"
          />
        </a>

        <div
          class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
          id="navbar-search"
        >
          <ul
            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
          >
            <li>
              <a
                href="/"
                class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                aria-current="page"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/products"
                class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                >Product</a
              >
            </li>
            <li>
              <a
                href="/cart"
                class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                >Cart</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="flex-grow">
      <div class="container mx-auto my-8 p-8 bg-white rounded shadow">
        <!-- Back button -->
        <a
          href="#"
          onclick="goBack()"
          class="inline-flex items-center mb-5 px-4 py-2 text-base font-medium rounded-md text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
        >
          <svg
            class="h-4 w-4 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 19l-7-7m0 0l7-7m-7 7h18"
            ></path>
          </svg>
          Back
        </a>
        <h1 class="text-2xl font-bold mb-4">Your Orders</h1>

        <div class="overflow-x-auto">
          <table class="w-full bg-white border border-gray-300">
            <tbody>
              <!-- Replace the following block with your actual order data -->
              <% for (let i = 0; i < orders.length; i++) { %>

              <tr class="hover:bg-gray-100">
                <td
                  class="py-2 px-4 border-b"
                  onclick="location.href = '/orderinformation/<%= orders[i].orderDetails._id %>'"
                >
                  <img
                    src="<%= orders[i].orderDetails.pImage %>"
                    alt="Product Image"
                    class="h-16 w-16 object-cover rounded"
                  />
                </td>
                <td
                  class="py-2 px-4 border-b semi-bold"
                  onclick="location.href = '/orderinformation/<%= orders[i].orderDetails._id %>'"
                >
                  <%= orders[i].orderDetails.pName %>
                </td>
                <td
                  class="py-2 px-4 border-b"
                  onclick="location.href = '/orderinformation/<%= orders[i].orderDetails._id %>'"
                >
                  Order Date: <%= orders[i].orderDetails.orderDate.toISOString().split("T")[0].split("-").reverse().join("-") %>
                </td>
                <td
                  class="py-2 px-4 border-b"
                  onclick="location.href = '/orderinformation/<%= orders[i].orderDetails._id %>'"
                >
                  Quantity: <%= orders[i].orderDetails.quantity %>
                </td>
                <td
                  class="py-2 px-4 border-b"
                  onclick="location.href = '/orderinformation/<%= orders[i].orderDetails._id %>'"
                >
                  Total Price: ₹ <%= orders[i].orderDetails.quantity *
                  orders[i].orderDetails.price %>
                </td>
                <td
                  class="py-2 px-4 border-b"
                  onclick="location.href = '/orderinformation/<%= orders[i].orderDetails._id %>'"
                >
                  <span class="bg-green-500 text-white py-1 px-2 rounded"
                    ><%= orders[i].orderDetails.orderStatus %></span
                  >
                </td>
                <% if ((orders[i].orderDetails.orderStatus === 'Ordered') ||
                (orders[i].orderDetails.orderStatus === 'Shipped') ) { %>
                <td class="py-2 px-4 border-b">
                  <button
                    class="bg-red-500 text-white py-1 px-2 rounded"
                    onclick="openCancelModal()"
                  >
                    Cancel
                  </button>
                </td>
                <div
                  class="fixed z-50 inset-0 overflow-y-auto hidden"
                  id="cancelModalBackdrop"
                >
                  <div class="flex items-center justify-center min-h-screen">
                    <div
                      class="bg-white rounded-lg shadow-xl p-4 mx-4 sm:max-w-lg sm:w-full"
                    >
                      <div class="mb-4">
                        <h2 class="text-lg font-semibold">
                          Enter Reason for Cancelling
                        </h2>
                      </div>

                      <div>
                        <textarea
                          class="w-full border rounded-md p-2"
                          rows="4"
                          placeholder="Enter reason for cancellation..."
                        ></textarea>
                      </div>

                      <div class="mt-4 flex justify-end">
                        <button
                          class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md mr-2"
                          onclick="closeCancelModal()"
                        >
                          Close
                        </button>
                        <button
                          class="bg-blue-500 text-white px-4 py-2 rounded-md"
                          onclick="cancelOrder('<%= orders[i].orderDetails._id %>')"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <% } else if (orders[i].orderDetails.orderStatus ===
                'Delivered') { %>
                <td class="py-2 px-4 border-b">
                  <button
                    class="bg-red-500 text-white py-1 px-2 rounded"
                    onclick="openReturnModal()"
                  >
                    Return
                  </button>
                </td>
                <div
                  class="fixed z-50 inset-0 overflow-y-auto hidden"
                  id="returnModalBackdrop"
                >
                  <div class="flex items-center justify-center min-h-screen">
                    <div
                      class="bg-white rounded-lg shadow-xl p-4 mx-4 sm:max-w-lg sm:w-full"
                    >
                      <div class="mb-4">
                        <h2 class="text-lg font-semibold">
                          Enter Reason for Returning
                        </h2>
                      </div>

                      <div>
                        <textarea
                          class="w-full border rounded-md p-2"
                          rows="4"
                          placeholder="Enter reason for return..."
                        ></textarea>
                      </div>

                      <div class="mt-4 flex justify-end">
                        <button
                          class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md mr-2"
                          onclick="closeReturnModal()"
                        >
                          Close
                        </button>
                        <button
                          class="bg-blue-500 text-white px-4 py-2 rounded-md"
                          onclick="returnOrder('<%= orders[i].orderDetails._id %>')"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="bg-gray-800 text-white p-4 text-center">
      <p>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        OtronMart E-Commerce. All rights reserved.
      </p>
    </footer>

    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
      integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function goBack() {
        window.history.back();
      }

      function cancelOrder(orderId) {
        axios
          .post("/cancelOrder", { orderId })
          .then((data) => {
            if (data) {
              Swal.fire("Order Cancelled", "Click the button", "success").then(
                () => {
                  window.location.reload();
                }
              );
            }
          })
          .catch((error) => {
            console.error("Error cancelling order:", error);
          });
      }

      function returnOrder(orderId) {
        axios
          .post("/returnOrder", { orderId })
          .then((data) => {
            if (data) {
              Swal.fire("Order Returned", "Click the button", "success").then(
                () => {
                  window.location.reload();
                }
              );
            }
          })
          .catch((error) => {
            console.error("Error returning order:", error);
          });
      }

      function openCancelModal() {
        document
          .getElementById("cancelModalBackdrop")
          .classList.remove("hidden");
        document.body.classList.add("overflow-hidden");
      }

      function closeCancelModal() {
        document.getElementById("cancelModalBackdrop").classList.add("hidden");
        document.body.classList.remove("overflow-hidden");
      }

      function openReturnModal() {
        document
          .getElementById("returnModalBackdrop")
          .classList.remove("hidden");
        document.body.classList.add("overflow-hidden");
      }

      function closeReturnModal() {
        document.getElementById("returnModalBackdrop").classList.add("hidden");
        document.body.classList.remove("overflow-hidden");
      }

      function submitCancellation() {
        // Add your cancellation submission logic here
        // For example, you can retrieve the reason entered in the textarea and send it to the server
        // Then, close the modal
        closeModal();
      }
    </script>
  </body>
</html>
